body {
	margin: 0px 0px 0px 0px;
}

.top-margin-1{
	margin-top: 1em; 
}

.top-margin-30{
	margin-top: 30em; 
}

.left-margin-2{
	margin-left: 2em;
}

.right-margin-2{
	margin-right: 2em;
}

.bold-text {
	font-size: 2em;
	font-weight: bolder;
}

.center-text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.red-text{
	color: red;
}

.green-text{
	color: green;
}

.big-text {
	font-size: 5em;
}

.helvetica {
	font-family: 'Helvetica', 'Arial', sans-serif;
}


.nav-button {
	margin-left: 50px;
	margin-right: 50px;
}

a:link,a:visited,a:hover, a:active {
	text-decoration: none;
	color: black;
}


